@import "tailwindcss";

@theme {
  --color-herta-100: #f7f7f7;
  --color-herta-150: #fefefe;

  --color-herta-200: #3ea1f3;
  --color-herta-300: #02a9f4;
  --color-herta-400: #037ffa;
  --color-herta-500: #1a237e;
}
